name: Prueba tecnica Savanrt

on:
    push:
    pull_request:

jobs:
  #https://github.com/docker/login-action?tab=readme-ov-file#github-container-registry
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Conectarse Registry Github
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cointruir Contenedor
        run: docker build --file Dockerfile --tag ghcr.io/${{ github.repository }}:savant .

      - name: Publicar Contenedor
        run: docker push ghcr.io/${{ github.repository }}:savant


  test:
    runs-on: ubuntu-latest
    needs: build
    steps:

      - name: Conectarse Registry Github
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Traer contenedor
        run: docker pull ghcr.io/${{ github.repository }}:savant

      - name: Test Cases
        run:  docker run -e API_URL="http://localhost:8100" --rm savant sh -c "uvicorn main:app --host 0.0.0.0 --port 8100 & sleep 100 && pytest"

