name: Prueba tecnica Savanrt

on:
    push:
    pull_request:

jobs:
  # https://github.com/docker/login-action?tab=readme-ov-file#github-container-registry
  # https://docs.github.com/en/actions/reference/workflows-and-actions/variables
  build:
    runs-on: ubuntu-latest
    # https://docs.github.com/en/packages/managing-github-packages-using-github-actions-workflows/publishing-and-installing-a-package-with-github-actions#upgrading-a-workflow-that-accesses-ghcrio
    # Variables de contexto https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#github-context
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      # https://github.com/marketplace/actions/maximize-build-disk-space#usage
      - uses: actions/checkout@v3
      - name: Conectarse Registry Github
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Cointruir Contenedor
        run: docker build --file Dockerfile --tag ghcr.io/${{ github.repository }}:${{ github.ref_name }} .

      - name: Ejecutar Contenedor
        run: docker run -d --name savant -p 8100:8100 ghcr.io/${{ github.repository }}:${{ github.ref_name }}

      - name: Instalar dependencias de test
        run: pip install -r test_requirements.txt

      - name: Esperar que Servidor este list
        run: |
          for i in {1..20}; do
            if curl -s http://localhost:8100/docs; then
              echo "Servicio esta listo"
              exit 0
            fi
            echo "Esperando el servicio..."
            sleep 4
          done

      - name: Test Cases
        run: |
          mkdir -p reports
          pytest

      - name: Apagar contenedor
        if: always()
        run: docker stop savant && docker rm savant

      #https://github.com/actions/upload-pages-artifact
      - name: Subir reporte a pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: reports
